body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 231, 156);
}
 #form{
    
    margin: 18px;
    background-color: rgba(161,161,79,3);
    background-size: auto;
    border-radius: 5%;
    width:70%;
    gap:80px;
    box-shadow:2px 3px 5px rgb(37, 13, 4)  ;

 }
 table{
    color:hsl(60, 85%, 55%);
    padding: 25px;
    font-size: 24px;
    height: 20px;

    
 }
 caption{
    margin: 20px;
    padding: 20px;
    font-size:25px;
 }
 input{
    border: none;
    color: black solid;
    background-color: rgb(192, 223, 223);
    border-radius: 10px;
    height:20px;
    width: 90%;
    box-shadow: 0px 2px 3px cornsilk;
 }
 #btn{
    margin: 10px;
    padding:4px 4px 4px 4px;
    color: black solid;
    align-items: center;
 }
